[user]
    name = Takumi Ando
    email = me@tmmyando.com
    signingkey = 7B58A4A61813F3195B0FD31EF32AC641E32C1B8F
[core]
    editor = vim
[init]
    defaultBranch = main
[push]
    default = matching
[color "status"]
    added = blue bold
    changed = red bold
    untracked = cyan bold
[color "diff"]
    meta = white bold
    frag = black yellow
    old = black bold
    new = green bold
[diff]
    algorithm = histogram
    colorMoved = dimmed-zebra
[difftool]
    prompt = true
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[log]
    decorate = auto
[credential]
    helper = store
[alias]
    l  = log --pretty=format:\"%C(green)%h %C(cyan)%ad%C(red)%d %C(reset)%s %C(blue)[%cn]\" --decorate --date=short
    a  = add
    s  = status
    d  = diff
    p  = push
    r  = remote
    co = commit --signoff --verbose
    ca = commit --amend
    ch = checkout
    cp = cherry-pick
    cl = clean -dfx
    gz   = !"TOPDIR=$(basename $(git rev-parse --show-toplevel)) && git archive HEAD --prefix=\"$TOPDIR\"/ --output=\"$TOPDIR\".tar.gz"
    zst  = !"TOPDIR=$(basename $(git rev-parse --show-toplevel)) && git archive HEAD --prefix=\"$TOPDIR\"/ --output=\"$TOPDIR\".tar.zst"
    zip  = !"TOPDIR=$(basename $(git rev-parse --show-toplevel)) && git archive HEAD --prefix=\"$TOPDIR\"/ --output=\"$TOPDIR\".zip"
    wipe = !"for MODULE in $(git rev-parse --show-toplevel; git submodule | awk '{print $2}'); do printf \"Cleaning %s...\n\" \"$MODULE\"; pushd \"$MODULE\" > /dev/null && git clean -dfx && popd > /dev/null; done"
    bisect-rgood = "!git bisect bad"
    bisect-rbad = "!git bisect good"
[includeIf "gitdir:~/Work/"]
    path = ~/.gitconfig-work
