[user]
    name = Takumi Ando
    email = takumi@t15.ch
[core]
    editor = vim
[init]
    defaultBranch = main
[push]
    default = matching
[color "diff-highlight"]
    oldNormal = magenta bold
    oldHighlight = magenta bold 54
    newNormal = blue bold
    newHighlight = blue bold 24
[color "status"]
    added = blue bold
    changed = magenta bold
    untracked = cyan bold
[color "diff"]
    meta = white bold
    frag = black yellow
    old = magenta bold
    new = blue bold
[diff]
    tool = vimdiff
[difftool]
    prompt = true
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[log]
    decorate = auto
[credential]
    helper = store
[alias]
    l  = log --oneline --decorate
    re = rebase -i
    co = checkout
    mg = merge
    df = diff
    cm = commit --signoff -m
    ca = commit --amend
    s  = status
    p  = push
    cp = cherry-pick
[includeIf "gitdir:~/Work/"]
    path = ~/.gitconfig-work
