[user]
    name = Takumi Ando
    email = me@tmmyando.com
[core]
    editor = vim
[init]
    defaultBranch = main
[push]
    default = matching
[color "diff-highlight"]
    oldNormal = magenta bold
    oldHighlight = magenta bold 54
    newNormal = blue bold
    newHighlight = blue bold 24
[color "status"]
    added = blue bold
    changed = magenta bold
    untracked = cyan bold
[color "diff"]
    meta = white bold
    frag = black yellow
    old = magenta bold
    new = blue bold
[diff]
    tool = vimdiff
[difftool]
    prompt = true
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[log]
    decorate = auto
[credential]
    helper = store
[alias]
    l  = log --oneline --decorate
    ch = checkout
    co = commit --signoff -m
    ca = commit --amend
    s  = status
    d = diff
    cp = cherry-pick
    rb = rebase
    cl = clean -dfx
    gz = !"TOPDIR=$(basename $(git rev-parse --show-toplevel)) && git archive HEAD --prefix=\"$TOPDIR\"/ --output=\"$TOPDIR\".tar.gz"
    zst = !"TOPDIR=$(basename $(git rev-parse --show-toplevel)) && git archive HEAD --prefix=\"$TOPDIR\"/ --output=\"$TOPDIR\".tar.zst"
    zip = !"TOPDIR=$(basename $(git rev-parse --show-toplevel)) && git archive HEAD --prefix=\"$TOPDIR\"/ --output=\"$TOPDIR\".zip"
[includeIf "gitdir:~/Work/"]
    path = ~/.gitconfig-work
